logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: DEBUG
server:
  port: 8222
spring:
  config:
    import: configserver:http://localhost:8888
  application:
    name: gateway-service